{% extends TEMPLATE_BASE %}

{% block title %}Ověřené hlasovací lístky pro {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Ověřené hlasovací lístky <span style="font-size:0.7em;">[<a href="{% url "helios.views.one_election_view" election_uuid=election.uuid %}">back to election</a>]</span></h2>

<p>
Když připravíte v Heliosu hlasovací lístek, dostanete okamžitě inteligentní sledovací nástroj. 
Než se rozhodnete hlasovat, můžete požádat Helios, aby "otevřel" šifrovaný hlas a ověřil, že Helios správně zakódoval 
hlasovací lístek. Když je to ověřeno, můžete zveřejnit tento otevřený hlasovací lístek v seznamu auditovaných hlasovacích 
lístků, aby si to každý mohl ověřit (lístek neobsahuje vaší identitu). Jakmile to uděláte, musíte znovu zašifrovat své volby 
a získat jiný inteligentní sledovací nástroj. To pomáhá snížit pravděpodobnost, že někdo vás může donutit, abyste hlasovali 
odlišně jinak než jak opravdu chcete.
</p>

<p>
Tyto lístky <em>neplatí</em>, a nebudou započítány. Jsou zde jen pro účely auditu, aby šlo zjistit, že Helios řádně šifruje voličovu volbu.
</p>

<p>
Pro ověření auditovaného lístku zkopírujte celý obsah a vložte do <a target="_new" href="/booth/single-ballot-verify.html?election_url={% url "helios.views.one_election" election.uuid %}">formuláře pro ověření hlasovacího lístku</a>.
</p>

{% if audited_ballots %}
<p>
Ověřené lístky {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
</p>

{% if next_after %}
<a href="?after={{next_after}}&offset={{offset_plus_limit}}">další {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% ifequal offset 0 %}
{% else %}
<a href="?">zpět na začátek</a> &nbsp;&nbsp;
{% endifequal %}
{% if more_p %}
<a href="?after={{next_after}}&offset={{next_offset}}">další {{limit}}</a>
{% endif %}
<table class="pretty">
{% for b in audited_ballots %}
<tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank" href="?vote_hash={{b.vote_hash|urlencode}}">zobrazit</a>]</td></tr>
{% endfor %}
</table>
{% else %}
<em>zatím nejsou žádné ověřené hlasovací lístky</em>
{% endif %}

{% endblock %}
